html{
  font-size: 62.5%;
}
.App {
  /* padding: 0 1.5rem; */

}


li{
  list-style: none;
}

.hideReview{
  display: none;
}

.showReview{
  display: block;
}

.hide{
  display: none;
}
.show{
  display: block;
}
