.body{
  height: 550px;
  width: 1000px;
  background-color: pink;
  margin: auto;
}
.main{
  padding-top: 50px;
}
.Login {
  text-align: center;
  margin: auto;
}
.Login_form {
  text-align: center;
  margin: auto;
  padding-top: 100px;
}


.User{
   text-align: center;
  margin: auto;
}

.avatar{
  width: 200px;
  height: 200px;
}

li{
  list-style: none;
  word-spacing: 3px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
