@import url('https://fonts.googleapis.com/css?family=Khula');

.anime{
  font-size: 125%;
  background-color: rgba(192, 189, 189, 0.205);
  text-align: center;
  font-family: 'Khula', sans-serif;
  margin: 2rem;
  box-shadow: -1px 3px 27px 1px rgba(0,0,0,0.75);
  transition: .3s all linear;

}
.anime:hover{
  box-shadow: -1px 3px 27px -2px rgba(0,0,0,0.75);
  color: rgba(243, 243, 243, 0.808);
  background-color: rgba(0, 0, 0, 0.849);
}

/* title of the anime */
.anime__title{
  transform: translate(0, 8px);
  padding: 1px;
  font-size: 1.5rem;
}


.anime__img{
  width: 20rem;
  height: 28rem;
}

.anime__list{

  display: inline-flex;
  flex-direction: row;
}

@media screen and (max-width: 660px) {
  .anime__list{
    display: flex;
    justify-content: center;
  }
}