@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
.footer{
    /* bottom: 0;
    left: 0; */
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.89);
    text-align: center;
    color: rgba(245, 246, 248, 0.932);
    position: relative;
    width: 100%;
    font-size: 2rem;

}

.footer__quote{
    font-size: 4rem;
    padding: 1rem;
    font-family: 'Cookie', cursive;
}

.footer__subquotes h5{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
}

.footer__copyright{
    color: rgba(255, 255, 255, 0.952);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 4px;
    font-size: 2rem;

}