/* the main container for the header */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;   
}

/* logo */
.header__img{
    width: 120px;
    height: 100px;
}

/* links */
.header__links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* anchor tags */
.links--bar{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.774);
    padding: 1rem;
    position: relative;
}

.links--bar:hover{
    text-decoration: none;
}

/* hover effect */
.links--bar:before{
    content: '';
    background:transparent;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid transparent;
    height: 0;
    width: 0;
}
.links--bar:hover:before{
    animation: go .3s linear forwards;
}

.links--bar:after{
    content: '';
    background:transparent;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid transparent;
    height: 0;
    width: 0;  
}

.links--bar:hover:after{
    animation: goLeft .3s linear forwards;
    animation-delay: .3s;
}

.header li{
    padding: 2rem;   
}

/* search bar */
.header__greet{
    text-align: center;
}


.status{
    color: red;
}









/* hamburger menu */

label{
    cursor: pointer;
}

/* .hamburger{
    display: none;
} */

.hamburger__background{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    /* background-color: red; */
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(rgba(0, 204, 255, 0.993),rgba(0, 255, 200, 0.993));
    transition: 1s all linear;
    z-index: 100;
    position: fixed;
    /* transform: scale(80); */
}

/* toggle for the hamburger menu  */
.hamburger{
    display: none;
}
#toggle{
    display: none;
}

.hamburger__checkbox:checked ~ .hamburger__background{
    transform: scale(80);
}
.hamburger__checkbox:checked ~ .hamburger__nav{
    opacity: 1;
    width: 100%;
}

.hamburger__nav{
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 300;
    transform: all 1s;
    opacity: 0;
}

.hamburger__button{
    cursor: pointer;
    background-color: rgba(26, 47, 139, 0);
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6.5rem;
    right: 6rem;
    z-index: 1200;
    background-color: #fff;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
  }

.hamburger__list{
    text-align: center;
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
}

.yoo{
    color: #fff;
    font-size: 2rem;
}

/* hamburger icon */
.hamburger__icon{
    position: relative;
    margin-top: 3.5rem;
}
.hamburger__icon, .hamburger__icon::before, .hamburger__icon::after {
   width: 3rem;
   height: 2px;
   background-color: rgba(8, 8, 8, 0.87); 
   display: inline-block;
}

.hamburger__icon::before, .hamburger__icon::after{
    content: "";
    position: absolute;
    left: 0;
    transition: all .3s linear;
}

.hamburger__icon::before{
    top: -.75rem;
}
.hamburger__icon::after{
    top: .75rem;
}

.hamburger__button:hover .hamburger__icon::before{
    top: -1rem;
}

.hamburger__button:hover .hamburger__icon::after{
    top: 1rem;
}

@media screen and (max-width:660px){
    .header__links{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .hamburger__list li{
        padding: 2rem;
        color: rgba(255, 255, 255, 0.904);
    }

    /* .header__img{
        transform: translate(40%,0);
    } */
    .header{
        justify-content: center;
    }
}








/* animation for the links  */
@keyframes go {
    0%{
        width: 0;
        height: 0;
        border-top-color: rgba(52, 228, 234, 0.897);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0%;
        border-top-color: rgba(52, 228, 234, 0.897);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: rgba(52, 228, 234, 0.897);
        border-right-color: rgba(52, 228, 234, 0.897);
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

@keyframes goLeft {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: rgba(153, 74, 218, 0.911);
    }
    50%{
        width: 0%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: rgba(153, 74, 218, 0.911);
        border-left-color: rgba(153, 74, 218, 0.911);
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: rgba(153, 74, 218, 0.911);
        border-left-color: rgba(153, 74, 218, 0.911);
    }
}

