/* .registerLogin{
    display: flex;
    width: 80vw;
    margin: 0 auto;
}

.registerLogin__register{
    flex: 2;
}

.registerLogin__login{
    flex:2;
} */
.error_message{
    color: red;
    font-size: 2rem;
}
/* .container{
    display: flex;
    flex-direction: column;
} */

@media screen and (max-width:660px){
    .registerLogin{
        flex-direction: column;
        width: 30rem;
        margin: 0 auto;

    }
    .registerLogin__register{
        flex: 1;
    }
    
    .registerLogin__login{
        flex:1;
    }
}