.review{
    text-align: center;
    margin-top: 4rem;
    font-size: 180%;
}

.review__header{
    border: 1px solid black;
    display: inline-block;
    padding: 1rem;
    font-size: 200%;
}

.review__review{
    font-size: 150%;
}

.review__textArea{
    width: 80%;
    height: 14vh;
    font-size: 150%;
}

.review__save, .review__edit{
    display: inline-block;
    background-color: rgba(22, 21, 21, 0.925);
    margin: 0 auto;
    padding: 1rem;
    color: azure;
    margin: 2rem;
}
